<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if false %>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.number_field :task %>
  </div>
  <% end %>

  <div class="field" id="TaskSelect">
    <%= f.label :task_id %><br>
    <%= f.select "task_id", options_from_collection_for_select(@tasks, "id", "name") %>
  </div>

  <div class="field">
    <%= f.label :progress %><br>
    <%= f.text_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
