<h1>Listing your subscriptions</h1>

<% if @subscriptions.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Progress</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td><%= subscription.task.name %></td>
          <td><%= subscription.progress %></td>
          <td><%= link_to 'Show', subscription %></td>
          <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div id="noSubMsg">
    <p>You don't have any subscriptions</p>
  </div>
<% end %>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
