<h1>
	<%= @subscription.subscribable.display_name %>
</h1>

<p>
	<%= @subscription.subscribable.description %>
</p>

<p>
	<span class="label"><%# link_to(@subscription.task.url, @subscription.task.url, target: "_blank") %></span>
</p>

<p>
  <strong>Progress:</strong>
  <%= form_for @subscription do |f| %>
  	<%= f.number_field(:progress, in: 0.0..1.0, step: 0.05) %>
  	<%= f.submit %>
  <% end %>
</p>

<%= link_to 'Back to User', user_path(@subscription.user) %>
