<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.subscribed %>
            Subscribed
          <% else %>
            Not Subscribed
          <% end %>
        </td>
        <td><%= task.name %></td>
        <td><%= link_to task.url, task.url %></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
