<p id="notice"><%= notice %></p>

<p>
	<strong><%= @user.name %></strong><br>
	<% if @user.tags.count == 0 %>
		You don't have any tags
	<% else %>
		Your Tags:&nbsp;
		<% @user.tags.each do |tag| %>
			<%= tag.topic.name %>
		<% end %>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>